body{
    font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color: white;
    color: #7C7075;
}

div, p {
    margin: 0;
    padding: 0;
}

.hide {
    display: none;
}

.centered {
    width: 23.07em;
    min-height: 19em;
    margin: 4.62em auto 2.31em;
    position: relative;
    /* color: #7C7075; */
    -moz-box-shadow: 0 0 1em 0.2em #CCC;
    -webkit-box-shadow: 0 0 1em 0.2em #CCC;
    box-shadow: 0 0 1em 0.2em #CCC;
}

.ie7 .centered,
.ie8 .centered {
    min-height: 21.5em;
    border: 1px solid #7C7075;
}

.ie7 .centered,
.ie9 .centered {
    min-height: 23.5em;
}

.centered .input-btn {
    padding: 0.32em 0.38em;    
    border-radius: 0.38em;
    background-color: #3F3237;
    border: 1px solid #4e3043;
    cursor: pointer;
    transition: all 0.3s ease-out;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'Raleway', 'Lato', Arial, sans-serif;
    background-image: linear-gradient(bottom, #3F3237 26%, #5F5053 63%, #7C7075 82%);
    background-image: -o-linear-gradient(bottom, #3F3237 26%, #5F5053 63%, #7C7075 82%);
    background-image: -moz-linear-gradient(bottom, #3F3237 26%, #5F5053 63%, #7C7075 82%);
    background-image: -webkit-linear-gradient(bottom, #3F3237 26%, #5F5053 63%, #7C7075 82%);
    background-image: -ms-linear-gradient(bottom, #3F3237 26%, #5F5053 63%, #7C7075 82%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.26, #3F3237),
        color-stop(0.63, #5F5053),
        color-stop(0.82, #7C7075)
    );
}

.centered .popups {
    font-size: 0.75em;
    padding-top: 15.2em;
    padding-bottom: 2.1em; 
}

.centered .popups h3 {
    border: 1px solid #4e3043;
    cursor: pointer;
    color: white;
    background-image: linear-gradient(bottom, #3F3237 26%, #5F5053 63%, #7C7075 82%);
    background-image: -o-linear-gradient(bottom, #3F3237 26%, #5F5053 63%, #7C7075 82%);
    background-image: -moz-linear-gradient(bottom, #3F3237 26%, #5F5053 63%, #7C7075 82%);
    background-image: -webkit-linear-gradient(bottom, #3F3237 26%, #5F5053 63%, #7C7075 82%);
    background-image: -ms-linear-gradient(bottom, #3F3237 26%, #5F5053 63%, #7C7075 82%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.26, #3F3237),
        color-stop(0.63, #5F5053),
        color-stop(0.82, #7C7075)
    ); 
}

.centered .dlg {
    text-align: center;
    margin-left: -11em;
    padding: 1em 0 1em 0;
    font-weight: normal;
    position: absolute;
    top: 4em;
    left: 50%;
    width: 100%;
}

.centered .dlg .input-btn {
    padding: 0.32em 1em;    
    border-radius: 0.2em;
    font-size: 1em;
}

.centered .dlg .text {
    padding: 1em 0;    
}

.centered .spinner {
    background: url(../images/252.gif) no-repeat 50% 0;
}

.centered h1 {
    font-size: 1.69em;
    padding: 0 0 0.8em 0;
    margin: 0;
    color: #7C7075;
}

.centered .timestamp {
    padding: 0;
    border-top: 1px solid #CCC;
    background-color: #3F3237;
    min-height: 2em;
    font-size: 0.7em;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    background-image: linear-gradient(bottom, #3F3237 26%, #5F5053 63%, #7C7075 82%);
    background-image: -o-linear-gradient(bottom, #3F3237 26%, #5F5053 63%, #7C7075 82%);
    background-image: -moz-linear-gradient(bottom, #3F3237 26%, #5F5053 63%, #7C7075 82%);
    background-image: -webkit-linear-gradient(bottom, #3F3237 26%, #5F5053 63%, #7C7075 82%);
    background-image: -ms-linear-gradient(bottom, #3F3237 26%, #5F5053 63%, #7C7075 82%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.26, #3F3237),
        color-stop(0.63, #5F5053),
        color-stop(0.82, #7C7075)
    );
}

.centered .timestamp .text {
    margin: 0.4em 1.6em;
}

.action-form {
    padding: 1em;
    position: absolute;
}

.action-form input[type=text],
.action-form input[type=password] {
    width: 96%;
    padding: 0.82em 0.31em 0.82em 0.77em;
    margin-bottom: 1.16em;
    border: 1px solid #4e3043; /* Fallback */
    border: 1px solid rgba(78,48,67, 0.8);
    border-radius: 0.5em;
}

.action-form input::-webkit-input-placeholder {
    color: rgba(37,21,26,0.5);
    text-shadow: 0 1px 0 rgba(255,255,255,0.15);
}
 
.action-form input:-moz-placeholder {
    color: rgba(37,21,26,0.5);
    text-shadow: 0 1px 0 rgba(255,255,255,0.15);
}
 
.action-form input:-ms-input-placeholder {
    color: rgba(37,21,26,0.5);
    text-shadow: 0 1px 0 rgba(255,255,255,0.15);
}

.action-form input[type=text]:hover,
.action-form input[type=password]:hover {
    border-color: #333;
}

.action-form .input-btn {
    /* Size and position */
    width: 40%;
}
 
.action-form input[type=submit]:hover {
    box-shadow: 
        inset 0 1px rgba(255,255,255,0.2), 
        inset 0 1.53em 2.30em rgba(99,64,86,0.5);
}

.action-form label {
    display: none;
    padding: 0.15em 0 0.38em 0.15em;
    cursor: pointer;
}
 
.action-form label:hover ~ input {
    border-color: #333;
}
 
.ie .action-form label {
    display: block;
}

/* Overridden style from jquery ui */
.ui-widget-header {
    color: white;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Raleway', 'Lato', Arial, sans-serif;

    background-image: linear-gradient(bottom, #3F3237 26%, #5F5053 63%, #7C7075 82%);
    background-image: -o-linear-gradient(bottom, #3F3237 26%, #5F5053 63%, #7C7075 82%);
    background-image: -moz-linear-gradient(bottom, #3F3237 26%, #5F5053 63%, #7C7075 82%);
    background-image: -webkit-linear-gradient(bottom, #3F3237 26%, #5F5053 63%, #7C7075 82%);
    background-image: -ms-linear-gradient(bottom, #3F3237 26%, #5F5053 63%, #7C7075 82%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.26, #3F3237),
        color-stop(0.63, #5F5053),
        color-stop(0.82, #7C7075)
    );
}

.no-close .ui-dialog-titlebar-close {
    display : none;
}

.action-form .login-success-msg {
    padding: 1.53em 0;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    /* Styles */
    .centered {
        width: 90%;
        margin: 2% 5%;        
    }
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
    /* Styles */
    .centered {
        width: 96%;
        margin: 2% 2%;
    }
    .centered .dlg {
        top: 5em;
        margin-left: -14em;
    }
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
    /* Styles */
    .centered {
        width: 95%;
        margin: 5% 3%;        
    }

    .centered .dlg {
        top: 5em;
        left: 0;
        margin-left: 0;
    }
}

/* Custom width ----------- */
@media only screen 
and (min-width : 481px) {
    /* Styles */
    .centered {
        width: 23em;
        margin: 4.62em auto 2.31em;
    }
    .centered .dlg {
        margin-left: -11em;
        left: 50%;
        top: 5em;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
    /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
    /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
    /* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}
