body {
    font-family: "Open Sans",Calibri,Candara,Arial,sans-serif;
}
.container .center {
    width:280px;
    margin: 0 auto;
}
.navbar-fixed-top {
    position: fixed;
}
.navbar-placeholder {
    min-height: 50px;
    height: 50px;
}
.navbar .nav {
    float: right;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    line-height: 1;
}
.alert h4 {
    margin-bottom: 8px;
}
.hide {
    display: none;
}
.timestamp hr {
    margin-bottom: 2px;
}
